<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.mapper.UserMapper">
<!--    <resultMap id="UserResultMap" type="com.example.demo.pojo.User">-->
<!--        <id property="userid" column="user_id" jdbcType="INTEGER" />-->
<!--        <result property="username" column="user_name" jdbcType="VARCHAR"/>-->
<!--        <result property="passwordhash" column="password_hash" jdbcType="VARCHAR"/>-->
<!--    </resultMap>-->
    <select id="findALLUser" resultType="User">
        select * from user;
    </select>
    <select id="judgeUser" resultType="int">
        SELECT user_id FROM user WHERE user_email=#{user_email};
    </select>


</mapper>